a{text-decoration: none; font-family: serif; color: cyan; font-size: 30px;display: inline;padding-left:5px;}
.tasks{background-color: #888888; border-radius:5px;display:block;width:700px;color:cyan;font-size:40px;}
.nobel{list-style-type: upper-roman;}
